<%= simple_form_for employee_hour, remote: true do |form| %>
  <% if employee_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_hour.errors.count, "error") %> prohibited this employee_hour from being saved:</h2>

      <ul>
      <% employee_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :hours, id: :employee_hour_hours %>
  </div>

  <div class="field">
    <%= form.number_field :cost_per_hour, as: :currency, id: :employee_hour_cost_per_hour_cents %>
  </div>

  <div class="field">
    <%= form.input :cost_per_hour_currency, as: :hidden, id: :employee_hour_cost_per_hour_currency %>
  </div>

  <div class="field">
    <%= form.check_box :charge, id: :employee_hour_charge %>
  </div>

  <div class="field">
    <%= form.input :job_id, as: :hidden, id: :employee_hour_job_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
