<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Cost cents:</strong>
  <%= @expense.cost_cents %>
</p>

<p>
  <strong>Cost currency:</strong>
  <%= @expense.cost_currency %>
</p>

<p>
  <strong>Job:</strong>
  <%= @expense.job_id %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
